################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/vcs.xml
/.idea/systemlink-server-examples.iml
/.idea/modules.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
